<div id="changeinner" class="center" style="border-style: solid; border-width: 1px; border-color: green; padding: 10px;">
    <p>Ürün için stok adetlerini ayarlayınız</p>
    <div class="row">
        <div class="col s12 m6 l6">
            <p>1 ay</p>
            <p class="number-field">
                <input name="1" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[0] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
        <div class="col s12 m6 l6">
            <p>2 ay</p>
            <p class="number-field">
                <input name="2" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[1] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <p>3 ay</p>
            <p class="number-field">
                <input name="3" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[2] %>" id="test55" min="0" max="2000" />
            </p>
        </div>
        <div class="col s12 m6 l6">
            <p>4 ay</p>
            <p class="number-field">
                <input name="4" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[3] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <p>5 ay</p>
            <p class="number-field">
                <input name="5" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[4] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
        <div class="col s12 m6 l6">
            <p>6 ay</p>
            <p class="number-field">
                <input name="6" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[5] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <p>7 ay</p>
            <p class="number-field">
                <input name="7" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[6] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
        <div class="col s12 m6 l6">
            <p>8 ay</p>
            <p class="number-field">
                <input name="8" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[7] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <p>9 ay</p>
            <p class="number-field">
                <input name="9" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[8] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
        <div class="col s12 m6 l6">
            <p>10 ay</p>
            <p class="number-field">
                <input name="10" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[9] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <p>11 ay</p>
            <p class="number-field">
                <input name="11" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[10] %>" id="test55" min="0" max="2000" />
            </p>
        </div>
        <div class="col s12 m6 l6">
            <p>12 ay</p>
            <p class="number-field">
                <input name="12" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[11] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <p>1 yaş</p>
            <p class="number-field">
                <input name="13" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[12] %>" id="test55" min="0" max="2000" />
            </p>
        </div>
        <div class="col s12 m6 l6">
            <p>2 yaş</p>
            <p class="number-field">
                <input name="14" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[13] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <p>3 yaş</p>
            <p class="number-field">
                <input name="15" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[14] %>" id="test55" min="0" max="2000" />
            </p>
        </div>
        <div class="col s12 m6 l6">
            <p>4 yaş</p>
            <p class="number-field">
                <input name="16" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[15] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
    </div>
</div>
