<div id="changeinner" class="center" style="border-style: solid; border-width: 1px; border-color: green; padding: 10px;">
    <p>Ürün için stok adetlerini ayarlayınız</p>
    <div class="row">
        <div class="col s12 m6 l6">
            <p>10</p>
            <p class="number-field">
                <input name="10" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[0] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
        <div class="col s12 m6 l6">
            <p>11</p>
            <p class="number-field">
                <input name="11" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[1] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <p>12</p>
            <p class="number-field">
                <input name="12" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[2] %>" id="test55" min="0" max="2000" />
            </p>
        </div>
        <div class="col s12 m6 l6">
            <p>13</p>
            <p class="number-field">
                <input name="13" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[3] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <p>14</p>
            <p class="number-field">
                <input name="14" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[4] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
        <div class="col s12 m6 l6">
            <p>15</p>
            <p class="number-field">
                <input name="15" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[5] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <p>16</p>
            <p class="number-field">
                <input name="16" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[6] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
        <div class="col s12 m6 l6">
            <p>17</p>
            <p class="number-field">
                <input name="17" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[7] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <p>18</p>
            <p class="number-field">
                <input name="18" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[8] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
        <div class="col s12 m6 l6">
            <p>19</p>
            <p class="number-field">
                <input name="19" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[9] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <p>20</p>
            <p class="number-field">
                <input name="20" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[10] %>" id="test55" min="0" max="2000" />
            </p>
        </div>
        <div class="col s12 m6 l6">
            <p>21</p>
            <p class="number-field">
                <input name="21" type="number" value="<%- typeof stocks === 'undefined' ? 0 : stocks[11] %>" id="test5" min="0" max="2000" />
            </p>
        </div>
    </div>
</div>
