<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col s4 m4">
                <h5 class="white-text">Alışveriş</h5>
                <ul>
                    <li><a class="white-text" href="kadin">Kadın</a></li>
                    <li><a class="white-text" href="erkek">Erkek</a></li>
                    <li><a class="white-text" href="cocuk">Çocuk</a></li>
                </ul>
            </div>
            <div class="col s4 m4">
                <h5 class="white-text"><%= session.siteText[session.siteLang].footer.corp %></h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col s4 m4">
                <h5 class="white-text"><%= session.siteText[session.siteLang].footer.social %></h5>
                <ul>
                    <li><a class="white-text" href="#!"><%= session.siteText[session.siteLang].footer.mailList %></a></li>
                    <li><a class="white-text" href="#!">Facebook</a></li>
                    <li><a class="white-text" href="#!">Instagram</a></li>
                    <li><a class="white-text" href="#!">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey darken-4" style="padding: 3em 0;">
        <div class="container center">
            < insert copyright stuff here>
        </div>
    </div>
    <div class="footer-copyright grey darken-4" style="padding: 2em 0;">
        <div class="row">
            <a href="/" class="brand-logo center col s6 l4 offset-s3 offset-l4">
                <img class="responsive-img" src="/images/zalinalogo.png" />
            </a>
        </div>
    </div>
</footer>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/javascripts/zalina.js"></script>

</html>
